.form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 15px;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.form-row {
		flex-direction: column;
		gap: 0;
	}
}

@media only screen and (max-width: 480px) {
	.form-row {
		flex-direction: column;
		gap: 0;
	}
}
