.event-content-container {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	width: 50%;
	height: auto;
	gap: 15px;
}

.event-content-container img {
	width: 80%;
	height: 350px;
	object-fit: cover;
	object-position: center;
}


.event-content-container p {
	max-width: 85%;
}
