.content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	padding: 0 0 20px 0;
}

.content-header h3 {
	font-size: 24px;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.star {
	display: flex;
	justify-content: center;
	align-items: end;
	font-size: 32px;
	height: 35px;
	width: auto;
	color: #FFD700;
}
