:root {
	--background-color: transparent;
	--border: none;
}

.button {
	border: none;
	padding: 8px 14px;
	font-size: 16px;
	background-color: var(--background-color);
	border: var(--border);
	cursor: pointer;
}

.button:disabled {
	opacity: 0.5;
}

@media only screen and (max-width: 480px) {
	.button {
		padding: 6px 10px;
	}
}
