.event-comments-container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 15px;
	padding: 15px 0;
	width: 100%;
}

.comments-list {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 15px;
	width: 93%;
	max-height: 600px;
	overflow-y: auto;
	padding-right: 10px;
}

.comments-list::-webkit-scrollbar {
	width: 5px;
}

.comments-list::-webkit-scrollbar-thumb {
	background-color: #C0A2E2;
	border-radius: 4px;
}

.comments-list::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}
